@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

@font-face {
  font-family: "Geomanist";
  src: local("Geomanist Light"), local("Geomanist-Light"),
    url("../public/Font/Geomanist-Light.woff2") format("woff2"),
    url("../public/Font/Geomanist-Light.woff") format("woff"),
    url("../public/Font/Geomanist-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: Geomanist, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #00355f;
  --secondary: #242528;
  --overlay: rgba(0,0,0,0.7)
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
