@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

@font-face {
  font-family: "Geomanist";
  src: local("Geomanist Light"), local("Geomanist-Light"),
    url("../public/Font/Geomanist-Light.woff2") format("woff2"),
    url("../public/Font/Geomanist-Light.woff") format("woff"),
    url("../public/Font/Geomanist-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

:root {
  --primary-color: #00355f;
  --secondary: #242528;
  --overlay: rgba(0, 0, 0, 0.7);
}

* {
  font-family: Geomanist, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: "Poppins", sans-serif;
}
@keyframes marqueeAnimation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marqueeAnimation 20s linear infinite;
}

*::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
  cursor: pointer;
}

*::-webkit-scrollbar:hover {
  opacity: 1;
}

*::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}



@media (prefers-color-scheme: dark) {
  :root {
  }
}
