@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geomanist';
  src: local('Geomanist Light'), local('Geomanist-Light'),
      url('../public/Font/Geomanist-Light.woff2') format('woff2'),
      url('../public/Font/Geomanist-Light.woff') format('woff'),
      url('../public/Font/Geomanist-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: Geomanist, sans-serif;
}

:root {
  --primary-color: #00355f;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
